.c3f{color:#fff;}
.price:before{content:"￥";font-family:"Microsoft YaHei";font-size:10px;}
.ellipsis{overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
/*解决IOS上 上下滑动卡顿问题	*/
*{-webkit-overflow-scrolling: touch;}
.btn-primary{background-color: #3e8ef7;border-color: #3e8ef7;}
.bg-primary{background-color: #3e8ef7;}
.blueF{color:#3e8ef7!important;}
.blueB{border-color:#3e8ef7!important;}
.blueBG{background-color:#3e8ef7!important;}
.brownF{color:#997b71!important;}
.brownB{border-color:#997b71!important;}
.brownBG{background-color:#997b71!important;}
.cyanF{color:#0bb2d4!important;}
.cyanB{border-color:#0bb2d4!important;}
.cyanBG{background-color:#0bb2d4!important;}
.greenF{color:#11c26d!important;}
.greenB{border-color:#11c26d!important;}
.greenBG{background-color:#11c26d!important;}
.greyF{color:#757575!important;}
.greyB{border-color:#757575!important;}
.greyBG{background-color:#757575!important;}
.indigoF{color:#667afa!important;}
.indigoB{border-color:#667afa!important;}
.indigoBG{background-color:#667afa!important;}
.orangeF{color:#eb6709!important;}
.orangeB{border-color:#eb6709!important;}
.orangeBG{background-color:#eb6709!important;}
.pinkF{color:#f74584!important;}
.pinkB{border-color:#f74584!important;}
.pinkBG{background-color:#f74584!important;}
.purpleF{color:#9463f7!important;}
.purpleB{border-color:#9463f7!important;}
.purpleBG{background-color:#9463f7!important;}
.redF{color:#ff4c52!important;}
.redB{border-color:#ff4c52!important;}
.redBG{background-color:#ff4c52!important;}
.tealF{color:#17b3a3!important;}
.tealB{border-color:#17b3a3!important;}
.tealBG{background-color:#17b3a3!important;}
.yellowF{color:#ffcd17!important;}
.yellowB{border-color:#ffcd17!important;}
.yellowBG{background-color:#ffcd17!important;}


.table th, .table td{padding-top:0.75rem;padding-bottom: 0.75rem;vertical-align: middle;}
.layui-tree-icon .layui-icon{text-align:center;align-items: center;justify-content: center;display: flex;}


/*头部*/
.common-header{position: relative; z-index: 3; width:100%;height:60px;display: flex;transition: all 0.3s;}
/*logo*/
.common-logo{width:240px;color:#fff;display:flex;font-size:1.5rem;justify-content: center;align-items: center;}
/*主菜单*/
.common-menu{height:100%;display:flex; flex:1;}
.common-menu li{height:100%; position: relative;display:flex;align-items: center;}
.common-menu li a{height: 100%;color:#fff;padding:0 1.5rem;display:flex;align-items: center;transition: all 0.3s;justify-content:space-between;}
.common-menu>li>a:hover,
.common-menu>li>a.active,
.common-menu>li:hover>a{background-color:rgba(0,0,0,0.1);}

.common-menu li a i{margin-right: 0.3rem;font-size: 1rem;}
.common-menu li a figure{font-size: .9rem;display:flex;align-items: baseline;white-space: nowrap;}
.common-menu li a em{position: relative;top:.15rem;right:-0.3rem;font-size: .7rem;padding-left:.5rem;transform: scale(.8);}
.common-menu .children{display:none;background-color: #fff;}
.common-menu li:hover>.children{display:flex;border:1px solid #eee;border-radius: 5px;box-sizing: border-box;}
.common-menu li .children{position: absolute;z-index: 2;}
.common-menu li .children a:hover{background-color: #f5f5f5;}
.common-menu>li>.children{border-radius: 0 0 5px 5px;}
.common-menu li>.children{left: 0;top:60px;min-width: 100%;height: auto;border: 1px solid #eee;display:none;flex-direction: column;padding-bottom: 5px;}
.common-menu li>.children li{width:100%;padding:5px 5px 0px 5px;box-sizing: border-box;}
.common-menu li>.children li a{width:100%;height:35px;display:flex;color: #76838f;align-items: center;padding:0 .5rem 0 1rem;}
.common-menu li>.children li>.children{top:0;left:calc(100% + .1rem);}
/*顶部右侧 账户相关*/
.common-ac{min-width:200px;display:flex;justify-content:flex-end;}
.common-ac a{height: 100%;color:#fff;padding:0 1rem;display:flex;align-items: center;transition: all 0.3s;}
.common-ac li:hover>a{background-color:rgba(0,0,0,0.1);}
.common-ac li{position: relative;}
.common-ac .msg:hover .panel, 
.common-ac .switchEnable:hover .panel,
.common-ac .user:hover .panel{transform: scale(1);}
.common-ac .msg .panel{position: absolute;top:60px;right:0;z-index: 2;width: 360px;height:auto;display:flex;flex-direction: column;background-color: #fff;border-radius: 5px;border:1px solid #eee;transform: scale(0);transform-origin: 360px 0px;transition: all 0.3s;}
.common-ac .msg .panel header{width:100%;height: 50px;display:flex;align-items: center;padding:0 15px;box-sizing: border-box;border-bottom: 1px solid #eee;box-sizing: border-box;font-size: .9rem;color: #37474f;}
.common-ac .msg .panel section{width:100%;display:flex;min-height: 300px;height:auto;max-height: 500px;overflow-y: auto;position: relative;}
.common-ac .msg .panel section .content{width:100%;height: 100%;display:none;}
.common-ac .msg .panel section .none{position: absolute;left: 0;top:0;z-index: 2; width:100%;height: 100%;display:flex;justify-content:center;align-items: center;font-size: .8rem;color: #76838f;}
.common-ac .msg .panel footer{width:100%;height: 50px;display:flex;align-items: center;background-color: #f3f7f9;border-top: 1px solid #e4eaec;}
.common-ac .msg .panel footer a{display:flex;width: 100%;height: 100%;color: #a3afb7;transition: all 0.3s;}
.common-ac .msg .panel footer:hover a{background-color: transparent;}
.common-ac .msg .panel footer a i{margin-right: 0.3rem;}
.common-ac .user a {position: relative;}
.common-ac .user>a>img{width: 30px;height: 30px;border-radius: 100%;}
.common-ac .user>a>i{position: absolute;background-color: #11c26d;right:17px;bottom: 15px;width: 10px;height: 10px;border: 2px solid #fff;border-radius: 100%;}
.common-ac .user .panel,.common-ac .switchEnable .panel{position: absolute;top:60px;right:0;z-index: 2;min-width:200px;height:auto;display:flex;flex-direction: column;background-color: #fff;border-radius: 5px;border:1px solid #eee;transform: scale(0);transform-origin: 200px 0px;transition: all 0.3s;padding-bottom: 5px;box-sizing: border-box;}
.common-ac .user .panel li,.common-ac .switchEnable .panel li{width:100%;display:flex;height: 40px;padding:5px 5px 0 5px;box-sizing: border-box;}
.common-ac .user .panel li a,.common-ac .switchEnable .panel li a{width:100%;display:flex;color:#76838f;align-items: center;justify-content:space-between;}
.common-ac .switchEnable .panel li a{justify-content:flex-start;}
.common-ac .switchEnable .panel li a i{margin-right: .5rem;}
.common-ac .user .panel li a figure{display:flex;}
.common-ac .user .panel li a figure i{width: 17px;margin-right: .3rem;}
.common-ac .user .panel li:hover a,.common-ac .switchEnable .panel li:hover a{background-color: #f5f5f5;}
.common-ac .switchFull i{transition: all 0.3s;}
/*导航*/
.common-nav{position: relative; z-index: 2; background-color: #333;display:flex;font-size: 1rem;}
.common-nav>ul{display:none;}
.common-nav>ul.active{display:flex;}
.common-nav>ul>.tit{line-height: 40px;margin-top:10px;padding:0 20px;color: #76838f;font-size: .8rem;}
.common-nav li{display:flex;position: relative;}
.common-nav li a{height: 40px;display:flex;}
.common-nav li a i{width:16px;display:inline-block;}
.common-nav li:hover>a{color:#fff;background-color: #444;}

.common-nav .children{display:none;}
/*垂直导航*/
.common-vertical{width:240px;height:calc(100% - 60px);}
.common-vertical .foldLeft{position: absolute;right: 0;top:50%;z-index: 2; width:20px;height: 100px;margin-top:-50px;color:#999;display:flex;align-items: center;transition: all 0.3s;justify-content:center;}
.common-vertical .foldLeft:hover{width:50px;background-color: #444;color:#fff;}
.common-vertical>ul{width:100%;position: absolute;left: 0;top: 0;z-index: 1;flex-direction: column;}
.common-vertical>ul.active{display: flex;}
.common-vertical>ul>li a{padding:0 20px;}
.common-vertical>ul>li>a.center{transition: all 0.3s;}
.common-vertical li{width:100%;flex-direction: column;}
.common-vertical li a{font-size:.9rem;color: rgba(163,175,183,.9);align-items: center;justify-content:space-between;}
.common-vertical li a.active{color:#fff;}
.common-vertical li a figure{display:flex;padding:0;height:100%;align-items: center;flex: 1;}
.common-vertical li a i{margin-right: .5rem;}
.common-vertical li a em{font-size: .5rem;transition: .3s;}
.common-vertical li a em.slideDown{transform: rotate(90deg);}
.common-vertical li .children{width:100%;flex-direction: column;padding:5px 0;}
.common-vertical.fold{width:70px;}
.common-vertical.fold>ul>li>a{height:60px;justify-content:center;}
.common-vertical.fold>ul>li>a figcaption, 
.common-vertical.fold>ul>li>a em{display:none;}
.common-vertical.fold>ul>li>a figure i{font-size: 2rem;}
.common-vertical.fold .children{position:absolute;left:70px;top:0;width:240px;height:auto;background-color:#333;border-radius:0 5px 5px 0;}
.common-vertical.fold .children .children{border-radius: 5px;top:-5px;}
.common-vertical.unfold .menu-item.active{background-color: rgba(255,255,255,0.15);}
/*水平导航*/
.common-horizontal{width:100%;height:50px;flex-direction:row;}
.common-horizontal>ul.active{flex-direction: row;}
.common-horizontal>ul{width:100%;padding:0 20px;box-sizing: border-box;}
.common-horizontal>ul>li{height:50px;border-radius: inherit;}
.common-horizontal>ul>li>a{height:100%;color: rgba(163,175,183,.9);display:flex;align-items: center;font-size:.9rem;border-radius: inherit;}
.common-horizontal>ul>li>a em{transform: rotate(90deg) scale(.8);font-size: .4rem;}
.common-horizontal>ul>li:first-child{display:none;}
.common-horizontal>ul>li>.children{position: absolute;left:0;top:50px;z-index: 2;min-width: 150px;width:auto;padding-top:2px;}
.common-horizontal li{height:35px;flex-direction: row;align-items: center;border-radius: 5px;background-color: #333;}
.common-horizontal .children li{border-radius: initial;}
.common-horizontal .children li:hover>a>em{color:#333;}
.common-horizontal li a{width:100%;height:100%;padding:0 1rem; color: #76838f;font-size:.9rem;display:flex;align-items: center;justify-content:space-between;box-sizing: border-box;border-radius: 5px;}
.common-horizontal li a figure{display:flex;margin-right: .7rem;white-space: nowrap;align-items: baseline;}
.common-horizontal li a figure i{margin-right: .3rem;}
.common-horizontal .children{flex-direction: column;min-width: 150px;width:auto;border-radius: 5px;}
.common-horizontal .children>li:first-child{border-radius: 5px 5px 0 0;}
.common-horizontal .children>li:last-child{border-radius: 0 0 5px 5px;}
.common-horizontal .children a em{font-size: .5rem;}
.common-horizontal .children .children{position: absolute;left: calc(100% + 4px);top:0;z-index: 2;padding-left:4px;box-sizing: border-box;}
.common-horizontal.fold>ul>li>a figure i{font-size: 16px;}
.common-horizontal a.active{color:#fff;}
.common-horizontal.fold a figure figcaption{display: block;isplay:flex;font-size: .9rem;}

.common-content{position: absolute;top:60px;left:240px;z-index: 1;width:calc(100% - 240px);height:calc(100% - 60px);background-color: #f1f4f5;overflow-y: auto;transition: all 0.3s;}
.common-content.h{top:110px;left:0;width:100%;height: calc(100% - 110px);}
.common-content.f{top:60px;left:70px;width:calc(100% - 70px);height: calc(100% - 60px);}
.common-tabs{position: relative;z-index:2;width:100%;height: 40px;display:flex;background-color:#fff;border-bottom: 1px solid #e4eaec;box-sizing: border-box;}
.common-tabs>.left,
.common-tabs>.right{width:30px;height:100%;display:none;justify-content:center;align-items:center;}
.common-tabs>.left:hover,
.common-tabs>.right:hover{background-color: #f1f4f5;transition: all 0.3s;}
.common-tabs>.left:active,
.common-tabs>.right:active{background-color: #ddd;}
.common-tabs>.left i,
.common-tabs>.right i{color: #76838f;}
.common-tabs>.list{position: relative;top:1px; width:calc(100% - 30px);height: 100%;flex:1;display:flex;align-items: center;overflow: hidden;}
.common-tabs>.list>ul{position: relative;left:0;z-index: 1; width:auto;height: 100%;display:flex;align-items: center;flex-direction: row;}
.common-tabs>.list>ul>li{height: 100%;display:flex;align-items: center;}
.common-tabs>.list>ul>li a{color: #76838f;height:100%;display:flex;align-items: center;}
.common-tabs>.list>ul>li.active,
.common-tabs>.list>ul>li:hover{position: relative;background-color:#f1f4f5; }
.common-tabs>.list>ul>li.active{border-left:1px solid #e4eaec;margin-top:1px;border-right: 1px solid #e4eaec;box-sizing: border-box;padding-top: 1px;margin-top: -1px;}
.common-tabs>.list>ul>li.active:after,
.common-tabs>.list>ul>li:hover:after{position: absolute;left: 0;bottom: -1px;z-index: 2; content:"";width:100%;height: 1px;background-color: #f1f4f5;}
.common-tabs>.list>ul>li a.tab{padding-left:15px;padding-right:5px;box-sizing:border-box;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.common-tabs>.list>ul>li:first-child a.tab{padding-right:15px;}
.common-tabs>.list>ul>li a.close{position: relative; width:30px;display:flex;justify-content:center;align-items:center;}
.common-tabs>.list>ul>li a.close i{transition: all 0.3s;font-size: .8rem;}
.common-tabs>.list>ul>li a.close:hover i{color:#FF5650;}
.common-tabs>.set{position: relative; width:30px;height: 100%;display:flex;}
.common-tabs>.set>a{width:100%;display:flex;height: 100%;justify-content:center;align-items: center;}
.common-tabs>.set>a>i{font-size: .5rem;color:#76838f;}
.common-tabs>.set:hover>a{background-color: #f1f4f5;}
.common-tabs>.set:hover>.panel{transform: scale(1);}
.common-tabs>.set .panel{position: absolute;top:40px;right: 0;z-index: 2; width: 150px;height: auto;background-color: #fff;border:1px solid #eee;border-radius: 5px;display:flex;flex-direction: column;padding-bottom: 5px;box-sizing: border-box;transform: scale(0);transform-origin: 150px 0px;transition: all 0.3s;}
.common-tabs>.set .panel li{width:100%;height: 40px;display:flex;padding:5px 5px 0 5px;box-sizing: border-box;}
.common-tabs>.set .panel li a{width:100%;height: 100%;display:flex;align-items: center;color:#76838f;padding:0 1rem;box-sizing: border-box;}
.common-tabs>.set .panel li a i{font-size: .8rem;margin-right: .3rem;}
.common-tabs>.set .panel li a:hover{background-color: #f1f4f5;}
.common-content>article{position: relative;z-index:1;width:100%;height: calc(100% - 44px);background-color:#f1f4f5;}
.common-content>article iframe{width:100%;height: 100%;border: none;}
.common-content>article div.loading{position: absolute;left:0;top:0;z-index: 2;width: 100%;height: 100%;background-color: #fff;display:none;justify-content: center;align-items: center;}



/**
*公共模态框
*/
.vlon-modal-panel{position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:100;width:100%;height:100%;background-color:rgba(255,255,255,1);display:none;overflow:hidden;justify-content:center;align-items: center;}
.vlon-modal{width:auto;background-color:#fff;border-radius:2px;box-sizing:border-box;display:flex;justify-content:center;align-items: center;transform: scale(0);}
.vlon-modal.loading{transform: scale(1);}
.vlon-modal.alert{transform: scale(1);transition-duration: 0.3s;box-shadow: 1px 1px 50px rgba(0,0,0,.3);margin-top:-10%;}
.vlon-modal.confirm{min-width:260px;flex-direction: column;transform: scale(1);transition-duration: 0.3s;box-shadow: 1px 1px 50px rgba(0,0,0,.3);margin-top:-10%;}
.vlon-modal.full{left:0;top:0;width:100%;height:100%;}
.vlon-modal-title{width:100%;height:45px;font-size:1rem;color:#999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:flex;align-items: center;justify-content: space-between;background-color: #f8f8f8;border-bottom: 1px solid #eee;box-sizing: border-box;}
.vlon-modal-title span{padding:0 1rem;display:flex;height: 100%;align-items: center;}
.vlon-modal-close{padding:0 1rem;display:flex;height: 100%;align-items: center;color: #666;font-size: 24px;}
.vlon-modal-close:hover{color: #666;}
.vlon-modal-content{width:100%;min-width:100px;padding:10px;box-sizing:border-box;text-align:center;color:#333;display:flex;align-items: center;font-size:1rem;justify-content:center;flex-direction: column;}
.vlon-modal.confirm .vlon-modal-content{padding-top: 30px;padding-bottom: 30px;}
.vlon-modal-content img{display:block;margin:0px auto;}
.vlon-modal-footer{width:100%;color:#999;padding:10px 5% 15px;text-align:center;display:flex;flex-direction: row;justify-content: center;box-sizing: border-box;}
.vlon-modal-footer button{width:80px;height:35px;line-height:35px;text-align:center;border:none;cursor:pointer;outline:none;font-size:14px;border-radius:2px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.vlon-modal-cancel{background-color:#ccc;color:#eee;margin-right:2rem;}
.vlon-modal-cancel:active{background:#999;}
.vlon-modal-confirm{background-color:#f90;color:#fff;}
.vlon-modal-confirm:active{background-color:#e67b13;}
.vlon-modal-content .loading{width:50px;height:50px;background: url(../images/loading.gif) no-repeat center center / 100%;}
.vlon-modal-content .success{width:70px;height:50px;font-size: 2rem;display: flex;color:#11c26d;align-items: center;justify-content: center;}


