.bg{width:100%;height: auto;display: block;}
.content{position: absolute;left:0;top:0;z-index: 2;width: 100%;height:100%;display:flex;flex-direction: column;}
.ygphxy,.k,.z,.content a img,.content .t{height: auto;display:block;margin:0 auto;}
.ygphxy{width:60%;margin-top:20%;}
.z{width:70%;margin-bottom:15%;}
.k{width:60%;}
.content .t{width:220px;height:220px;position: relative;margin-bottom:10%;overflow:hidden;background-color: #fff;border-radius: 15px;}
.content .t img{width:90%;height: auto;display:block;margin:5% auto;}
.content span.k{position: absolute;left: 0;top:0;z-index: 2; width:100%;height:100%;background: url(../images/k.png) no-repeat center center / 100%;}
.content a{width:100%;height: auto;display:block;}
.content a img{width:80%;}
.v{display:none;}
.i{position: absolute;left: 0;top:0;z-index: 3; width:100%;height:100%;}
.i input{position: absolute;left: 0;top:0;z-index: 2; width:100%;height:100%;opacity: 0;}
.i span{position: absolute;left: 0;top:0;z-index: 1; width:100%;height:100%;font-size: 5rem;text-align: center;display:flex;align-items: center;justify-content: center;background-color:rgba(0,0,0,0.5);color:#fff;border-radius: 16px;}